doctype html
html
    head
        title= resume
        style
            include resume.css
    body

        // Left panel
        .w3-content(style={'max-width':'1400px', height:'auto'})
            .w3-third
                .w3-white.w3-text-grey.w3-card-4
                    .profile.w3-display-container
                        .w3-display-topleft.w3-container.w3-text-black
                            h2(style={'color': '#000000', 'border-bottom:': 'black 3px solid'}) Sammy Al Hashemi
                br
                br

                // personal information ////////////////////////
                .w3-container(style={'font-size': '0.87em'})
                    //-p.info-zone
                        //-i.fa.fa-home.fa-fw.w3-margin-right.w3-large.w3-text-teal
                        //-| Mississauga, Ontario, Canada
                    p.info-zone
                        i.fa.fa-envelope.fa-fw.w3-margin-right.w3-large.w3-text-teal
                        | sammy.alhashemi@mail.utoronto.ca
                    p.info-zone
                        i.fa.fa-phone.fa-fw.w3-margin-right.w3-large.w3-text-teal
                        | (647)-463-2638
                    hr


                    // Education section ///////////////////////
                    p.w3-large
                        b
                            i.skillsLogo.fa.fa-asterisk.fa-fw.w3-margin-right.w3-text-teal
                            | Education
                        ul
                            li Bachelor of Applied Science and Engineering
                            ul
                                li Graduating: April 2019
                            li Department of Engineering Science
                            li Major in physics
                            p
                                b cGPA: 3.56

                    // Hardware Skills /////////////////////////
                    p.w3-large
                        b
                            i.skillsLogo.fa.fa-asterisk.fa-fw.w3-margin-right.w3-text-teal
                            | Hardware Skills
                    ul
                        li
                            p
                                | Verilog &nbsp;
                                i.fas.fa-hdd
                        li
                            p
                                | Electronic Circuit Analysis &nbsp;
                                i.fas.fa-bolt
                    // Software skills /////////////////////////
                    p.w3-large
                        b
                            i.skillsLogo.fa.fa-asterisk.fa-fw.w3-margin-right.w3-text-teal
                            | Software Skills
                    ul
                        li
                            p
                                | Python &nbsp;
                                i.fab.fa-python
                        li
                            p
                                | Javascript &nbsp;
                                i.fab.fa-js  
                        li
                            p
                                | Angular &nbsp;
                                i.fab.fa-angular
                        li
                            p
                                | nodeJS &nbsp;
                                i.fab.fa-node-js
                        li
                            p
                                | Java &nbsp;
                                i.fab.fa-java

                    // Courses Taken //////////////////////////////////////////
                    p.w3-large.w3-text-theme
                        b
                            i.fa.fa-globe.fa-fw.w3-margin-right.w3-text-teal
                            | Courses Taken 
                    ul.courseList
                        li Algorithms/Foundations of Computing
                        li Data Strcutures & Algorithms 
                        li Machine Learning and Data Mining
                        li Electronic Circuits
                        li Digital Electronics
                    br
                    // website ////////////////////////////////////////////////
                    .w3-large.w3-text-theme.website
                        b
                            i.fab.fa-chrome.fa-fw.w3-margin-right.w3-text-teal
                            | Website
                        p
                            a(href='www.sammyalhashemi.com') www.sammyalhashemi.com
        // right two third container panel ////////////////////////////////////
        .w3-twothird.fullExtend(style={'font-size': '0.86em'})
            .w3-container.w3-card.w3-white.w3-margin-bottom
                h3.w3-text-grey.w3-padding-8
                    i.fa.fa-suitcase.fa-fw.w3-margin-right.w3-xlarge.w3-text-teal
                    | Work Experience
                .w3-container
                    h6.w3-opacity
                        b Device Characterization and Product Engineering Intern &nbsp;
                        i  Microsemi Corp.
                    h6.w3-text-teal
                        i.fa.fa-calendar.fa-fw.w3-margin-right
                        | July 2017 - August 2018
                    p
                        include:markdown-it Markdown/Microsemi.md
                    //-hr
                h3.w3-text-grey.w3-padding-8
                    i.fas.fa-project-diagram.fa-fw.w3-margin-right.w3-xlarge.w3-text-teal
                    | Projects
                .w3-container
                    h6.w3-opacity
                        b Thesis
                    h6.w3-text-teal
                        //-i.fa.fa-calendar.fa-fw.w3-margin-right
                        //-| July 2017 - &nbsp; 
                        //-span.w3-tag.w3-teal.w3-round Present
                    p
                        include:markdown-it(html=true) Markdown/Thesis.md
                .w3-container
                    h6.w3-opacity
                        b Personal Website
                    p
                        include:markdown-it(html=true) Markdown/Website.md
                .w3-container
                    h6.w3-opacity
                        b Tennis Ranking Scraper
                    p
                        include:markdown-it(html=true) Markdown/tennisProj.md
        br
        br
        footer#footer.w3-container.w3-teal.w3-center.w3-margin-top


